* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-light: #ffffff;
  --dc-dark: #1c1c1c;
  --dc-primary: #0282f9;
  --dc-secondary: #303030;
  --dc-text_footer: #7a7a79;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {

  .flex-container {
    width: 80%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      font-weight: 600;
      color: var(--dc-dark);

      &.active {
        color: var(--dc-primary);
        border-bottom: 3px solid var(--dc-primary);
      }
    }

  }
}

Main {

  .container_jumbotron {

    background-image: url(/img/jumbotron.jpg);
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    position: relative;

    .jumbotron {
      width: 80%;
      margin: auto;
      padding: 1rem;

      .label {
        color: var(--dc-light);
        padding: 0.5rem 1.5rem;
        background-color: var(--dc-primary);
        font-size: 1.2rem;
        font-weight: 600;
        display: inline-block;
        position: absolute;
        bottom: -1.5rem;
        left: 18%;
      }

      h2 {
        color: var(--dc-light);
      }
    }

  }

  .comicsList {
    background-color: var(--dc-dark);
    padding: 3rem 0;

    .container {
      width: 60%;
      max-width: 1400px;
      margin: auto
    }

    .btn_load {
      text-align: center;

      button {
        padding: 1rem 5rem;
        background-color: var(--dc-primary);
        color: var(--dc-light);
        border: none;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      :hover {
        background-color: var(--dc-secondary);
        cursor: pointer;
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1rem
    }

    .col-2 {
      width: calc((100% / 12) * 2);
      padding: 1rem;

      p {
        color: var(--dc-light);
        text-align: center;
      }

    }

    img {
      max-width: 100%;
    }
  }

  .container_shop {
    background-color: var(--dc-primary);
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .shop {
      width: 80%;
      margin: auto;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      list-style: none;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        text-align: center;
        color: var(--dc-light);

        img {
          width: 20%;
        }
      }
    }
  }


}

footer {

  .container_up {
    background-image: url(/img/footer-bg.jpg);
    background-size: cover;
    height: 60vh;
    overflow: hidden;
    position: relative;

    .footer_up {
      width: 80%;
      margin: auto;
      display: flex;
      gap: 1.5rem;


      .col {
        width: 10%;
        padding-top: 2rem;
        padding-bottom: 2rem;

        h3 {
          color: var(--dc-light);
          padding: 1rem 0;
        }

        ul {
          list-style: none;

          li {
            :hover {
              text-decoration: underline;
            }
          }

          a {
            text-decoration: none;
            color: var(--dc-text_footer);
          }
        }
      }

    }

    .bg_logo {
      display: inline-block;
      position: absolute;
      top: -100px;
      right: 10%;
    }
  }

  .container_down {
    background-color: var(--dc-secondary);

    .footer_down {
      width: 80%;
      margin: auto;
      padding: 1.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {

        .sign_up {
          padding: 1rem;
          background-color: var(--dc-secondary);
          color: var(--dc-light);
          border: 2px solid var(--dc-primary);
          font-weight: 600;
        }

        :hover {
          background-color: var(--dc-primary);
          cursor: pointer;
        }

      }

      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        h3 {
          color: var(--dc-primary);
        }
      }
    }
  }

}